body {
  font: 0.8em "Trebuchet MS", verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#ui-datepicker-div {
  background: #fff;
}
table.ui-datepicker {
  margin-top: 30px;
}

table, form, h1 {
  max-width: 90vw;
  min-width: 600px;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}


td, th {
  padding: 3px;
  text-align: right;
  border-bottom: 1px solid;
}

thead th {
  text-align: center;
  font-variant: small-caps;
}

th {
  background: lightgrey;
  font-size: 1.1em;
}

td {
  text-align: left;
}

td+td {
  text-align: right;
  width: 130px;
}

td[colspan] {
  text-align: right!important;
}

tr.dayTotal td {
  color: gray;
  border-top: 4px solid lightgray;
  margin-bottom: .3em;
}

.selected {
  background: #545454;
  color: #fff;
}

td.sort,
th.sort {
  display: none;
  width: 1px;
  border: none;
}

@media print {
body { font-size: 0.6em;}
form, #debug { display: none; }
}

